{% extends 'base.html' %}

{% block title %}Main Dashboard{% endblock %}

{% block content %}

<div class = "container">
    <br/>
    <br/>
    <h1>Project Proposal</h1>
    <h1>Latest Cases of Covid-19 Within the United States</h1>
    <br/>
    <br/>
    <br/>
    <h3>Project Description</h3>
    <h5>
        For this project, we show just how many cases of Covid-19 has spread around the US.
        Our datasource included statitics from around the world but we wanted to narrow down that data to show how it has affected the country we live in.
        To find out how it has affected the US on any given day, please select accordingly under our drop down menu.
        The map and charts will update on its own to match the data of that day.
        Check after 1:00 AM EST for yesterday to be included!
        <br/>
        <br/>
        @project partners. I'm hoping instead of all the different tabs, it just all shows on the index. if you wanna keep it in its own tab. works for me.
    </h5>
    
</div>

{% endblock %}