{% extends 'base.html' %}

{% block title %}About this Project{% endblock %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid Cases on Current, Death, and Recoveries by Day</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>

<body>
    
    <select id = "dropdown"></select>
    <div id="bar" style="width: 100%; height: 100%;"></div>
    <script src="../static/js/bar.js"></script>

</body>

{% endblock %}