{% extends 'base.html' %}

{% block title %}Main Dashboard{% endblock %}

{% block content %}

<div class = "container">
    <br/>
    <br/>
    <h1>Project Proposal</h1>
    <h1>Latest Cases of Covid-19 Within the United States</h1>
    <br/>
    <br/>
    <br/>
    <h3>Project Description</h3>
    <h5>For this project, we show just how many cases of Covid-19 has spread around the US.</h5>
    <h5>Our datasource included statitics from around the world but we wanted to narrow down that data to show how it has affected the country we live in.</h5>
    <h5>Although originally we wanted to create a drop down menu with all recorded days and by selecting a specific day. The map and charts will update on its own to match the data of that day.</h5>
    
</div>

{% endblock %}