{% extends 'base.html' %}

{% block title %}Main Dashboard{% endblock %}

{% block content %}

<div class = "container">

    <br/>

    <h1>Project Proposal</h1>

    <h1>Latest Cases of Covid-19 Within the United States</h1>

    <br/>

    <h3>Project Description</h3>

    <h5>

        For this project, we wanted to show how Covid-19 has been affecting different areas of the US.
        Our datasource contains data on cities across the US and how the situation has changed each day throughout this pandemic.
        
        <br/>
        <br/>

        To find out how it has affected the US on any given day, please select accordingly under our drop down menu.
        The map and charts will update on its own to match the data of that day.

        <br/>
        <br/>

        Check after 1:00 AM EST for yesterday to be included!
        
    </h5>
    
</div>

{% endblock %}